button {
  background: #faf1dd;
  border: 1px solid #faf1dd;
  color: #654321;
  padding: 5px;
  cursor: pointer;
}

header {
  text-align: center;
}

.content {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.content > div {
  flex: 1;
}
